@font-face {  
    font-family: 'Quicksand-VariableFont_wght', sans-serif;  
    src: url('../fonts/Quicksand-VariableFontwght.woff2') format('woff2'),
         url('../fonts/Quicksand-VariableFontwght.woff') format('woff');  
    font-weight: 400;
    font-display: swap;
}  
