@import 'vars';
@import 'libs';
@import 'fonts';
@import 'global';

// header start
.header__inner{
    background-color: $bg;
}
.header__top{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-btn{
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
        line-height: 28px;
        color: #ffffff;
        background-color: $blue;
        padding: 12px 25px;
        border-radius: 30px;
        
    }
}
.header__bottom{
    position: relative;
    &-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }
}
.menu__list{
    li{
        display: inline-block;
        a{
            color: #333333;
            font-size: 15px;
            font-weight: 500;
            text-transform: uppercase;
            line-height: 42px;
        }
        & + li{
            margin-left: 25px;
        }
    }
}
.header__drop-down{
    position: relative;
    .drop-down__list li{
        margin-left: 0;
        display: block;
        a{
            text-transform: capitalize;
        }
    }
}
.drop-down__list{
    display: none;
    position: absolute;
    width: 270px;
    background-color: #ffffff;
    border-top: 1px solid $blue;
    padding: 20px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    a{
        padding: 15px 10px 10px;
        transition: .3s;
        display: block;
        &:hover{
            background-color: $blue;
            border-radius: 4px;
            color: #ffffff;
        }
    }
}
.header__drop-down > a:hover + .drop-down__list{
    display: block;
}
.drop-down__list{
    &:hover{
        display: block;
    }
}
.header__drop-down{
    &.drop-down:hover > a{
        color: $blue;
        transition: .3s;
    }
}
.drop-down__page{
    position: absolute;
    width: 1140px;
    transform: translateX(-40%);
    height: 600px;
    overflow: hidden;
}
.page__box{
    display: flex;
    justify-content: space-between;
}
.drop-down__box-list{
    display: flex;
    justify-content: space-between;
}


@import 'media';